{{>/layout/header}}

<!-- 컨테이너 시작  -->
<div class="container mt-3">
  <!-- 회원수정 폼 시작 -->
  <form>
    <input id="id" value="{{principal.id}}" type="hidden">
    <div class="mb-3 mt-3">
      <input id="username" type="text" class="form-control" readonly>
    </div>
    <div class="mb-3">
      <input id="password" type="password" class="form-control" required maxlength="12">
    </div>
    <div class="mb-3">
      <input id="email" type="email" class="form-control" required maxlength="30">
    </div>
    <div class="mb-3">
      <input id="addr" type="text" class="form-control" required maxlength="300">
    </div>
    <button id="btn-update" type="button" class="btn btn-primary">수정완료</button>
  </form>
  <!-- 회원수정 폼 끝 -->
</div>
<!-- 컨테이너 끝 -->

<script>
  let getValue = async () => {
    let id = $("#id").val();
    let response = await fetch(`/s/api/user/${id}`);
    let responseParse = await response.json();
    console.log(responseParse);
    if (responseParse.code == 1) {
      $("#username").val(responseParse.data.username);
      $("#password").val(responseParse.data.password);
      $("#email").val(responseParse.data.email);
      $("#addr").val(responseParse.data.addr);
    } else {
      alert("인증에 실패하였습니다.")
    }
  }
  getValue();
</script>

<script></script>
{{>/layout/footer}}